/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-post-loop  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.block-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .select-block{
    margin-bottom: 30px;
  }

}
